.entrada{
	padding-top:12px; 
	background-image:url('./icons/entrada.png'); 
	min-width:180px; 
	height:25px; 
	color:#FFFFFF;
	cursor:pointer;
}
.entrada_off{
	padding-top:12px; 
	background-image:url('./icons/entrada_off.png'); 
	min-width:180px; 
	height:25px; 
	color:#FFFFFF;
	cursor:pointer;

}
.entrada_hover{
	padding-top:12px; 
	background-image:url('./icons/entrada_hover.png'); 
	min-width:180px; 
	height:25px; 
	color:#FFFFFF;
	cursor:pointer;
}

.informados{
	padding-top:12px; 
	background-image:url('./icons/informados.png'); 
	min-width:180px; 
	height:25px; 
	color:#FFFFFF;
	cursor:pointer;
}
.informados_off{ 
	padding-top:12px; 
	background-image:url('./icons/informados_off.png'); 
	min-width:180px; 
	height:25px; 
	color:#FFFFFF;
	cursor:pointer;
}


.informados_hover{
	padding-top:12px; 
	background-image:url('./icons/informados_hover.png'); 
	min-width:180px; 
	height:25px; 
	color:#FFFFFF;
	cursor:pointer;
}
