@charset "utf-8";
/* CSS Document */

/* Div principal*/
.PBBDatePicker {
		width: 180px;
		background-image:url(bgcalendar.png);
		text-align: center;
		padding:3px;
		z-index:9000;
/*		padding-bottom:px;*/
}

.PBBDatePicker div {
		margin-top:2px;
		z-index:9000;
}
/* hoy */
.PBBDatePicker .todayPicker {
		margin:1px;
		margin-top: 0;
		border: 1px solid #444;
		padding-bottom: 3px;
		color: #fff;	
		font-weight: bold;
		z-index:9000;
}
/* Hoy hover */
.PBBDatePicker .todayPickerOver {
		border: 1px solid #fff;
		background-color:#FFCC66;
}
/* Tabla */
.PBBDatePicker table {
		width: 100%;
		padding: 0;
		margin: 0;				
		font-size: 0.9em;
		border:0px;
}
/* Celdas de los dias*/
.PBBDatePicker table td, .PBBDatePicker table th {
		width: 14%;
		background-color: #fff;
		text-align: center;
		vertical-align: middle;
		line-height: 15px;
		border: 1px solid #0099FF;
		cursor: default;
}
/* Cabecera Dias*/
.PBBDatePicker table th {
		color:#0099FF;
		background-color:#FFFFFF;
		font-weight: bold;
		border: 1px solid #CCCCCC;
}
/* Dia hover */
.PBBDatePicker .datePickerOver {
		cursor: pointer;
		color:#FFFFFF;
		background-color:#0099FF;
}

.PBBDatePicker .datePickerMinDate, .PBBDatePicker .datePickerMaxDate {
		background-color:#dda7a7;
		border: 1px solid #f2dddd;
		color: #fff;
}
/* DIA SELECCIONADO */
.PBBDatePicker .datePickerSelectedDay {
		color:#FFFFFF;
		background-color:#0099FF;
}        
