@charset "utf-8";
/* CSS Document */
body{
font-family:Arial, Helvetica, sans-serif
}
.rowTitle{
	background-color:#000045;
	color:#FFFFFF;
	text-align:center;
	font-size:12px;
	font-weight:bolder;
}
.rowHead{
	background-color:#A8BAC6;	
	color:#FFFFFF;	
	text-align:center;
}
.cellHead{
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	padding-bottom:2px;		
	color:#000000;	
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:bolder;
}
.rowEve{
	background-color:#FFFFFF;
	color:#000000;
}
.rowOdd{
	background-color:#E3E8EC;	
	color:#000000;	
}
.onRow{
	background-color:#E1F0FF;
	color:#000066;					
}
.cellGrid{
	padding-left:4px;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;		
	color:#006699;
	/*border-bottom:#000066 solid 2px;
	border-right:#000066 solid 2px;		*/
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:bolder;
}
.xDataGrid{
	border:solid #000066 1px;	
}
.xRowButton{

}
.xRowOptions{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#FFFFFF;
	font-weight:bolder;
}
.buttonPDF{
	background-image:url(../xIconsComponents/xDataGrid/pdf_button.jpg);
	height:35px;
	width:35px;
}
.buttonPDF_hover{
	background-image:url(../xIconsComponents/xDataGrid/pdf_button_hover.jpg);
	height:35px;
	width:35px;
}
.buttonDOC{
	background-image:url(../xIconsComponents/xDataGrid/doc_button.jpg);
	height:35px;
	width:35px;
}
.buttonDOC_hover{
	background-image:url(../xIconsComponents/xDataGrid/doc_button_hover.jpg);
	height:35px;
	width:35px;
}
.buttonXLS{
	background-image:url(../xIconsComponents/xDataGrid/xls_button.jpg);
	height:35px;
	width:35px;
}
.buttonXLS_hover{
	background-image:url(../xIconsComponents/xDataGrid/xls_button_hover.jpg);
	height:35px;
	width:35px;
}
.buttonGRAPH{
	background-image:url(../xIconsComponents/xDataGrid/graph_button.jpg);
	height:35px;
	width:35px;
}
.buttonGRAPH_hover{
	background-image:url(../xIconsComponents/xDataGrid/graph_button_hover.jpg);
	height:35px;
	width:35px;
}
.xBackButton{
	background-image:url(../xIconsComponents/xDataGrid/previous.jpg);	
	background-repeat:no-repeat;
	padding-right:5px;		
	padding-top:2px;			
	height:25px;
	width:25px;
	float:right;
}
.xBackButton_hover{
	background-image:url(../xIconsComponents/xDataGrid/previous_hover.jpg);	
	background-repeat:no-repeat;
	padding-right:5px;		
	padding-top:2px;		
	height:25px;
	width:25px;
	float:right;	
}
.xForwardButton{
	background-image:url(../xIconsComponents/xDataGrid/forward.jpg);
	background-repeat:no-repeat;	
	height:25px;
	width:25px;
	float:right;
}
.xForwardButton_hover{
	background-image:url(../xIconsComponents/xDataGrid/forward_hover.jpg);	
	background-repeat:no-repeat;	
	height:25px;
	width:25px;
	float:right;	
}