body { background:#fff; font-family:Arial, sans-serif; margin:0; padding:0; font-size:12px; color:#333; line-height:1.4em; }

h1,h2 { font-weight:normal; font-family:Calibri, "Myriad Pro", Helvetica; color:#FFF; margin: 20px 20px 20px 20px; padding: 10px 10px 10px 20px; font-size:24px; background-color:#207186; }
h2 { clear:both; }
h4 { font-weight:normal; font-family:Calibri, "Myriad Pro", Helvetica; color:#FFF000; margin: 30px 20px 10px 20px; padding: 10px 10px 10px 20px; font-size:16px; background-color:#207186; }

pre { background:#E0E9EF; color:#000; border:1px solid #CCC; width:500px; margin-left:40px; padding:10px; font-size:11px; overflow:auto;  }
hr { border:0; height:1px; border-top:1px solid #5DB0E6; padding:0; margin:5px 0; }

a { padding: 10px 20px 5px 20px;text-decoration:none; border:0; color:#D9202A; }
img { border:0; }
p { padding-right:40px;margin: 30px 20px 10px 20px;}


.clearfix:after { content:"."; display: block; height:0; clear:both; visibility:hidden; }
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;} 


}#wrapper { border-left:8px solid #5DB0E6; margin:0; padding: 20px 0 20px 0; }
#sidebar { width:229px; margin:0 20px 0 0; float:left; position:fixed; top:20px; left:8px; }
#content { width:600px; padding:0; margin-left:247px; }

#navigation { list-style-type:none; margin:0; padding:0; line-height:1.0em;}
#navigation a { display:block; padding:5px; background:#C2CACF; margin:1px 0 0 0; color:#000; padding-left:32px; }
#navigation a:hover { background:#15191D; color:#FFF;  }

#sidebar .title { line-height:1.0em; background-color:#A7AEB3; padding:5px; color:#000; padding-left:27px; font-size:11px; margin: 10px 0 20px 0; text-align:center; }
#sidebar .version { line-height:1.0em; background-color:#A7AEB3; padding:5px; color:#FFF; padding-left:32px; font-size:11px; margin: 5px 0 10px 0; }
#sidebar .company a { font-size:18px; color:#FFF; padding-left:32px; }
#sidebar .company a strong { font-size:18px; color:#5DB0E6; }
#sidebar .version strong { color:#39414A; }
#sidebar .title strong { color:#39414A; }

#content p { padding-left:0px; }
#content .form { padding-left:px; width:400px; }
#content .form * { vertical-align:middle; }
#content .usage { border:1px solid #39414A; margin:10px 0px; padding:10px; margin-top:0px; background-color:#f2dede; }
  
.copyright { color:#7BC4F4; text-align:center; }
.copyright a { color:#7BC4F4; font-weight:bold; }

.downloadinfo { width:400px; float:left; margin-top:10px; }
.downloadinfo p { padding:0; }
a.download { font-size:14px; text-decoration:underline; }
a.download:hover { text-decoration:none; }

.inuse { padding:0 20px 5px 20px; margin:0 0 5px 0; }
.inuse h3 { color:#5DB0E6; }
.inuse a { color:#FFF; }
.inuse a:hover { text-decoration:underline; }
.inuse ul { list-style-type:none; margin:10px 0; padding:0; }

.textbox { 
width:380px;
height: 80px;
padding:4px;
border:5px solid gray;
text-align: justify;
margin: 15px 0px 0px 130px;
font-size:12px; 
  } 
  
/* Autocomplete: */

.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:visible; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px;  }
.autocomplete strong { font-weight:normal; color:#3399FF; }

#selection { margin: -35px 0px 0px 180px; padding:0 20px 5px 20px; font-weight:bold; height:20px; color:#FFF; }
#selection img { vertical-align:middle; }


.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:visible; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px;  overflow:visible; }
.autocomplete strong { font-weight:normal; color:#3399FF; }