.rowEveAutocomplete{
	background-color:#CCCCCC;
	color:#000000;
	cursor:pointer;
	font-size:12px;
}
.rowOddAutocomplete{
	background-color:#E4FAFF;	
	color:#000000;	
	cursor:pointer;
	font-size:12px;
}
.onRowAutocomplete{
	background-color:#E1F0FF;
	color:#000066;	
	cursor:pointer;	
	font-size:12px;
}